# mode : "aws" to download repositories from S3 , or "local" to have the artifacts in the server
deployment_mode =aws
artifact_path =/tmp
installation_path =/u01/oracle
wluser_name =oracle


#domain DNS AD properties

domain1 =mra.trips.ire
domain2 =eu-west-1.compute.internal
nameserver =10.10.3.135


#S3 properties
aws_access_key_id =.
aws_secret_access_key =.
region =eu-west-1


#Git username and password
gitUser =.
gitPassword =.


#options
configure_network=YES