<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Create Word</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/cylawords" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Word</a>
                </h3>
                <h2>Create Word</h2>
                <form action="/saveylawords">
                    <div class="form-group">
                        <label for="wordName">Word Name:</label>
                        <input type="text" class="form-control" name="wordName" />
                    </div>
                    <div class="form-group">
                        <label for="wordMeaning">Word Meaning</label>                        
                         <input type="text" class="form-control" name="wordMeaning" />
                    </div>
                    <div class="form-group">
                        <label for="wordExample">Word Example sentence</label>
                       <textarea class="form-control" name="wordExample" cols="60" rows="3">  </textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
                </div>
        </div>
    </body>
</html>