<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Product List</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/createylaword" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Word</a>
                </h3>
                <h2>Words List</h2>
                <div class="table-responsive">
                    <table class="table" id="product-table">
                        <thead>
                            <tr>
                                <th> Name</th>
                                <th> Description</th>
                                <th> Example</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ylaword : ${ylawords}">
                                <td><a th:text="${ylaword.wordName}" th:href="@{'/show/' + ${ylaword.id}}"></a></td>
                                <td th:text="${ylaword.wordMeaning}"></td>
                                <td th:text="${ylaword.wordExample}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>